WSDL/FormDesignManagementService.7.3.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://design.form.v73.api.keysurvey.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://design.form.v73.api.keysurvey.com" name="FormDesignManagement">
<types>
<xs:schema xmlns:tns="http://design.form.v73.api.keysurvey.com" xmlns:ns2="http://user.v73.api.keysurvey.com" xmlns:ns1="http://v73.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://design.form.v73.api.keysurvey.com">
<xs:import namespace="http://v73.api.keysurvey.com" schemaLocation="http://www.keysurvey.com:80/Member/api/v73/form/design/FormDesignManagementService?xsd=1"></xs:import>

<xs:import namespace="http://user.v73.api.keysurvey.com" schemaLocation="http://www.keysurvey.com:80/Member/api/v73/form/design/FormDesignManagementService?xsd=2"></xs:import>

<xs:element name="addAnswer" type="tns:addAnswer"></xs:element>

<xs:element name="addAnswerResponse" type="tns:addAnswerResponse"></xs:element>

<xs:element name="addQuestion" type="tns:addQuestion"></xs:element>

<xs:element name="addQuestionResponse" type="tns:addQuestionResponse"></xs:element>

<xs:element name="createCompleteForm" type="tns:createCompleteForm"></xs:element>

<xs:element name="createCompleteFormResponse" type="tns:createCompleteFormResponse"></xs:element>

<xs:element name="createCompleteQuestion" type="tns:createCompleteQuestion"></xs:element>

<xs:element name="createCompleteQuestionResponse" type="tns:createCompleteQuestionResponse"></xs:element>

<xs:element name="createForm" type="tns:createForm"></xs:element>

<xs:element name="createFormResponse" type="tns:createFormResponse"></xs:element>

<xs:element name="deleteAnswer" type="tns:deleteAnswer"></xs:element>

<xs:element name="deleteAnswerResponse" type="tns:deleteAnswerResponse"></xs:element>

<xs:element name="deleteForm" type="tns:deleteForm"></xs:element>

<xs:element name="deleteFormResponse" type="tns:deleteFormResponse"></xs:element>

<xs:element name="deleteQuestion" type="tns:deleteQuestion"></xs:element>

<xs:element name="deleteQuestionResponse" type="tns:deleteQuestionResponse"></xs:element>

<xs:element name="getAnswer" type="tns:getAnswer"></xs:element>

<xs:element name="getAnswerByPosition" type="tns:getAnswerByPosition"></xs:element>

<xs:element name="getAnswerByPositionResponse" type="tns:getAnswerByPositionResponse"></xs:element>

<xs:element name="getAnswerPosition" type="tns:getAnswerPosition"></xs:element>

<xs:element name="getAnswerPositionResponse" type="tns:getAnswerPositionResponse"></xs:element>

<xs:element name="getAnswerResponse" type="tns:getAnswerResponse"></xs:element>

<xs:element name="getAnswers" type="tns:getAnswers"></xs:element>

<xs:element name="getAnswersResponse" type="tns:getAnswersResponse"></xs:element>

<xs:element name="getForm" type="tns:getForm"></xs:element>

<xs:element name="getFormDesign" type="tns:getFormDesign"></xs:element>

<xs:element name="getFormDesignResponse" type="tns:getFormDesignResponse"></xs:element>

<xs:element name="getFormLogic" type="tns:getFormLogic"></xs:element>

<xs:element name="getFormLogicResponse" type="tns:getFormLogicResponse"></xs:element>

<xs:element name="getFormNotes" type="tns:getFormNotes"></xs:element>

<xs:element name="getFormNotesResponse" type="tns:getFormNotesResponse"></xs:element>

<xs:element name="getFormPermissions" type="tns:getFormPermissions"></xs:element>

<xs:element name="getFormPermissionsResponse" type="tns:getFormPermissionsResponse"></xs:element>

<xs:element name="getFormResponse" type="tns:getFormResponse"></xs:element>

<xs:element name="getFormTree" type="tns:getFormTree"></xs:element>

<xs:element name="getFormTreeResponse" type="tns:getFormTreeResponse"></xs:element>

<xs:element name="getForms" type="tns:getForms"></xs:element>

<xs:element name="getFormsResponse" type="tns:getFormsResponse"></xs:element>

<xs:element name="getQuestion" type="tns:getQuestion"></xs:element>

<xs:element name="getQuestionByPosition" type="tns:getQuestionByPosition"></xs:element>

<xs:element name="getQuestionByPositionResponse" type="tns:getQuestionByPositionResponse"></xs:element>

<xs:element name="getQuestionLogic" type="tns:getQuestionLogic"></xs:element>

<xs:element name="getQuestionLogicResponse" type="tns:getQuestionLogicResponse"></xs:element>

<xs:element name="getQuestionPosition" type="tns:getQuestionPosition"></xs:element>

<xs:element name="getQuestionPositionResponse" type="tns:getQuestionPositionResponse"></xs:element>

<xs:element name="getQuestionResponse" type="tns:getQuestionResponse"></xs:element>

<xs:element name="getQuestionSettings" type="tns:getQuestionSettings"></xs:element>

<xs:element name="getQuestionSettingsResponse" type="tns:getQuestionSettingsResponse"></xs:element>

<xs:element name="getQuestions" type="tns:getQuestions"></xs:element>

<xs:element name="getQuestionsResponse" type="tns:getQuestionsResponse"></xs:element>

<xs:element name="getSubmissionPolicy" type="tns:getSubmissionPolicy"></xs:element>

<xs:element name="getSubmissionPolicyResponse" type="tns:getSubmissionPolicyResponse"></xs:element>

<xs:element name="moveAnswer" type="tns:moveAnswer"></xs:element>

<xs:element name="moveAnswerResponse" type="tns:moveAnswerResponse"></xs:element>

<xs:element name="moveQuestion" type="tns:moveQuestion"></xs:element>

<xs:element name="moveQuestionResponse" type="tns:moveQuestionResponse"></xs:element>

<xs:element name="setFormDesign" type="tns:setFormDesign"></xs:element>

<xs:element name="setFormDesignResponse" type="tns:setFormDesignResponse"></xs:element>

<xs:element name="setFormLogic" type="tns:setFormLogic"></xs:element>

<xs:element name="setFormLogicResponse" type="tns:setFormLogicResponse"></xs:element>

<xs:element name="setFormNotes" type="tns:setFormNotes"></xs:element>

<xs:element name="setFormNotesResponse" type="tns:setFormNotesResponse"></xs:element>

<xs:element name="setQuestionLogic" type="tns:setQuestionLogic"></xs:element>

<xs:element name="setQuestionLogicResponse" type="tns:setQuestionLogicResponse"></xs:element>

<xs:element name="setQuestionSettings" type="tns:setQuestionSettings"></xs:element>

<xs:element name="setQuestionSettingsResponse" type="tns:setQuestionSettingsResponse"></xs:element>

<xs:element name="setSubmissionPolicy" type="tns:setSubmissionPolicy"></xs:element>

<xs:element name="setSubmissionPolicyResponse" type="tns:setSubmissionPolicyResponse"></xs:element>

<xs:element name="updateAnswer" type="tns:updateAnswer"></xs:element>

<xs:element name="updateAnswerResponse" type="tns:updateAnswerResponse"></xs:element>

<xs:element name="updateForm" type="tns:updateForm"></xs:element>

<xs:element name="updateFormResponse" type="tns:updateFormResponse"></xs:element>

<xs:element name="updateQuestion" type="tns:updateQuestion"></xs:element>

<xs:element name="updateQuestionResponse" type="tns:updateQuestionResponse"></xs:element>

<xs:complexType name="createForm">
<xs:sequence>
<xs:element name="form" type="tns:WSForm" minOccurs="0"></xs:element>
<xs:element name="questionList" type="tns:WSQuestion" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSForm">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="accountId" type="xs:long"></xs:element>
<xs:element name="creationDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="description" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSQuestion" abstract="true">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="analysisCode" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="answerRequiredCondition" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="answerRequiredCount" type="xs:int"></xs:element>
<xs:element name="answerRequiredType" type="tns:WSAnswerRequiredType" minOccurs="0"></xs:element>
<xs:element name="answerSortType" type="tns:WSAnswerSortType" minOccurs="0"></xs:element>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="text" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
<xs:attribute name="MUST_ANSWER_ALL_ROWS" type="xs:int" use="required"></xs:attribute>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSBaseQuestion" abstract="true">
<xs:complexContent>
<xs:extension base="tns:WSQuestion">
<xs:sequence>
<xs:element name="answers" type="tns:WSAnswer" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSAnswer">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="answerId" type="xs:long"></xs:element>
<xs:element name="mandatory" type="xs:boolean"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="weight" type="xs:double"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSFormatAnswer">
<xs:complexContent>
<xs:extension base="tns:WSAnswer">
<xs:sequence>
<xs:element name="patternId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSListBoxQuestion">
<xs:complexContent>
<xs:extension base="tns:WSBaseQuestion">
<xs:sequence>
<xs:element name="restrict" type="tns:WSAnswerRestriction" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSAnswerRestriction">
<xs:sequence>
<xs:element name="answerRestrictionType" type="tns:WSAnswerRestrictionType"></xs:element>
<xs:element name="maxNumber" type="xs:int"></xs:element>
<xs:element name="minNumber" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSNumericAllocationQuestion">
<xs:complexContent>
<xs:extension base="tns:WSBaseQuestion">
<xs:sequence>
<xs:element name="patternId" type="xs:long"></xs:element>
<xs:element name="total" type="tns:WSAnswer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSRankGridQuestion">
<xs:complexContent>
<xs:extension base="tns:WSBaseQuestion">
<xs:sequence>
<xs:element name="patternId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSPickOneOrOtherQuestion">
<xs:complexContent>
<xs:extension base="tns:WSBaseQuestion">
<xs:sequence>
<xs:element name="other" type="tns:WSAnswer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSPickOneWithCommentQuestion">
<xs:complexContent>
<xs:extension base="tns:WSBaseQuestion">
<xs:sequence>
<xs:element name="comment" type="tns:WSAnswer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSCheckAllThatApplyQuestion">
<xs:complexContent>
<xs:extension base="tns:WSBaseQuestion">
<xs:sequence>
<xs:element name="other" type="tns:WSAnswer" minOccurs="0"></xs:element>
<xs:element name="restrict" type="tns:WSAnswerRestriction" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSDropdownQuestion">
<xs:complexContent>
<xs:extension base="tns:WSBaseQuestion">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSSingleLineQuestion">
<xs:complexContent>
<xs:extension base="tns:WSQuestion">
<xs:sequence>
<xs:element name="answers" type="tns:WSFormatAnswer" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSSectionHeaderQuestion">
<xs:complexContent>
<xs:extension base="tns:WSQuestion">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSMultiLineQuestion">
<xs:complexContent>
<xs:extension base="tns:WSQuestion">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createFormResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAnswer">
<xs:sequence>
<xs:element name="answer" type="tns:WSAnswer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAnswerResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addQuestion">
<xs:sequence>
<xs:element name="question" type="tns:WSQuestion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCompleteQuestion">
<xs:sequence>
<xs:element name="question" type="tns:WSQuestion" minOccurs="0"></xs:element>
<xs:element name="questionSettings" type="tns:WSQuestionSettings" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSQuestionSettings">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="displayLayout" type="xs:int"></xs:element>
<xs:element name="hideQuestion" type="xs:boolean"></xs:element>
<xs:element name="newPageNumber" type="xs:boolean"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createCompleteQuestionResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCompleteForm">
<xs:sequence>
<xs:element name="form" type="tns:WSForm" minOccurs="0"></xs:element>
<xs:element name="formDesign" type="tns:WSFormDesign" minOccurs="0"></xs:element>
<xs:element name="submissionPolicy" type="tns:WSSubmissionPolicy" minOccurs="0"></xs:element>
<xs:element name="formNotes" type="tns:WSFormNotes" minOccurs="0"></xs:element>
<xs:element name="questionList" type="tns:WSQuestion" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFormDesign">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="footerAlignement" type="tns:WSFormAlign"></xs:element>
<xs:element name="footerText" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="progressIndicatorType" type="xs:boolean"></xs:element>
<xs:element name="showPageNumber" type="xs:boolean"></xs:element>
<xs:element name="thankYouPage" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSSubmissionPolicy">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="backButton" type="xs:boolean"></xs:element>
<xs:element name="duplicateAction" type="xs:int"></xs:element>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="maxRespondents" type="xs:long"></xs:element>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="timeLimitToAnswer" type="xs:int"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSFormNotes">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="notes" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createCompleteFormResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormPermissions">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormPermissionsResponse">
<xs:sequence>
<xs:element name="return" type="ns2:WSFormPermission" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getForms">
<xs:sequence>
<xs:element name="accountId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSForm" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionPosition">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionPositionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSubmissionPolicy">
<xs:sequence>
<xs:element name="submissionPolicy" type="tns:WSSubmissionPolicy" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSubmissionPolicyResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="setFormNotes">
<xs:sequence>
<xs:element name="formNotes" type="tns:WSFormNotes" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setFormNotesResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="setQuestionSettings">
<xs:sequence>
<xs:element name="questionSetting" type="tns:WSQuestionSettings" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setQuestionSettingsResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="setFormLogic">
<xs:sequence>
<xs:element name="formLogic" type="tns:WSFormLogic" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFormLogic">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="logicList" type="tns:WSQuestionLogic" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSQuestionLogic">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="advancedLogics" type="tns:WSAdvancedLogic" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="fuzzyJumpLogics" type="tns:WSFuzzyJumpLogic" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="fuzzyLogicList" type="tns:WSFuzzyJumpLogic" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="goToLogic" type="tns:WSGoToLogic" minOccurs="0"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="showHideLogics" type="tns:WSShowHideLogic" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="skipLogics" type="tns:WSSkipLogic" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSAdvancedLogic">
<xs:complexContent>
<xs:extension base="tns:WSLogic">
<xs:sequence>
<xs:element name="conditionalExpression" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="orderId" type="xs:long"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSLogic" abstract="true">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSGoToLogic">
<xs:complexContent>
<xs:extension base="tns:WSLogic">
<xs:sequence>
<xs:element name="qustionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSSkipLogic">
<xs:complexContent>
<xs:extension base="tns:WSLogic">
<xs:sequence>
<xs:element name="answerId" type="xs:long"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSFuzzyJumpLogic">
<xs:complexContent>
<xs:extension base="tns:WSLogic">
<xs:sequence>
<xs:element name="maxValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="minValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSShowHideLogic">
<xs:complexContent>
<xs:extension base="tns:WSLogic">
<xs:sequence>
<xs:element name="active" type="xs:boolean"></xs:element>
<xs:element name="answerId" type="xs:long"></xs:element>
<xs:element name="computerFormatExpression" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="humanFormatExpression" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="operation" type="tns:WSShowHideOperation" minOccurs="0"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="setFormLogicResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="updateForm">
<xs:sequence>
<xs:element name="form" type="tns:WSForm" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFormResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getFormDesign">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormDesignResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSFormDesign" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionByPosition">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="position" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionByPositionResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSQuestion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormLogic">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormLogicResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSFormLogic" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="withAnswer" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSQuestion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moveQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="offset" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moveQuestionResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="updateAnswer">
<xs:sequence>
<xs:element name="answer" type="tns:WSAnswer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAnswerResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getSubmissionPolicy">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSubmissionPolicyResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSSubmissionPolicy" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionLogic">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionLogicResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSQuestionLogic" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionSettings">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionSettingsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSQuestionSettings" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateQuestion">
<xs:sequence>
<xs:element name="question" type="tns:WSQuestion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateQuestionResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestions">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="withAnswer" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getQuestionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSQuestion" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByPosition">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="position" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerByPositionResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getForm">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSForm" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormNotes">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormNotesResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSFormNotes" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteForm">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFormResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="setFormDesign">
<xs:sequence>
<xs:element name="formDesign" type="tns:WSFormDesign" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setFormDesignResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswer">
<xs:sequence>
<xs:element name="answerId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswer" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAnswer">
<xs:sequence>
<xs:element name="answerId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAnswerResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="moveAnswer">
<xs:sequence>
<xs:element name="answerId" type="xs:long"></xs:element>
<xs:element name="offset" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moveAnswerResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestion">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteQuestionResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPosition">
<xs:sequence>
<xs:element name="answerId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPositionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setQuestionLogic">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="questionLogic" type="tns:WSQuestionLogic" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setQuestionLogicResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswers">
<xs:sequence>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswersResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswer" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormTree">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormTreeResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSFormTree" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFormTree">
<xs:complexContent>
<xs:extension base="tns:WSForm">
<xs:sequence>
<xs:element name="questions" type="tns:WSQuestion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="WSAnswerRequiredType">
<xs:restriction base="xs:string">
<xs:enumeration value="ALLOW_TO_SKIP"></xs:enumeration>
<xs:enumeration value="SKIP_WITH_ALERT"></xs:enumeration>
<xs:enumeration value="MUST_ANSWER"></xs:enumeration>
<xs:enumeration value="MUST_ANSWER_CONDITIONAL"></xs:enumeration>
<xs:enumeration value="MUST_ANSWER_SELECTED"></xs:enumeration>
<xs:enumeration value="MUST_ANSWER_ALL_RATE_DIFF"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="WSAnswerSortType">
<xs:restriction base="xs:string">
<xs:enumeration value="NOSORT"></xs:enumeration>
<xs:enumeration value="ROTARING"></xs:enumeration>
<xs:enumeration value="ALFABETICAL_ASC"></xs:enumeration>
<xs:enumeration value="ALFABETICAL_DESC"></xs:enumeration>
<xs:enumeration value="HASHING"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="WSAnswerRestrictionType">
<xs:restriction base="xs:string">
<xs:enumeration value="ALL"></xs:enumeration>
<xs:enumeration value="ANY"></xs:enumeration>
<xs:enumeration value="DEFINED_BY_NUMBER_FIELDS"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="WSFormAlign">
<xs:restriction base="xs:string">
<xs:enumeration value="LEFT"></xs:enumeration>
<xs:enumeration value="HORIZONTAL_CENTER"></xs:enumeration>
<xs:enumeration value="RIGHT"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_LEFT"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_HORIZONTAL_CENTER"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_RIGHT"></xs:enumeration>
<xs:enumeration value="JUSTIFY"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_JUSTIFY"></xs:enumeration>
<xs:enumeration value="TOP"></xs:enumeration>
<xs:enumeration value="BASELINE"></xs:enumeration>
<xs:enumeration value="VERTICAL_CENTER"></xs:enumeration>
<xs:enumeration value="BOTTOM"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_TOP"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_VERTICAL_CENTER"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_BASELINE"></xs:enumeration>
<xs:enumeration value="NON_VISIBLE_BOTTOM"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="WSShowHideOperation">
<xs:restriction base="xs:string">
<xs:enumeration value="NONE"></xs:enumeration>
<xs:enumeration value="SHOW"></xs:enumeration>
<xs:enumeration value="HIDE"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://user.v73.api.keysurvey.com">

<xs:simpleType name="WSFormPermission">
<xs:restriction base="xs:string">
<xs:enumeration value="VIEW"></xs:enumeration>
<xs:enumeration value="EDIT"></xs:enumeration>
<xs:enumeration value="DELETE"></xs:enumeration>
<xs:enumeration value="LAUNCH"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
<xs:schema xmlns:tns="http://v73.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://v73.api.keysurvey.com">

<xs:element name="WSException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSIllegalArgumentException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSInternalServerException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSObjectNotFoundException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSSecurityException" nillable="true" type="tns:WSFault"></xs:element>

<xs:complexType name="WSObject">
<xs:sequence>
<xs:element name="versionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFault">
<xs:sequence>
<xs:element name="error" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="getQuestions">
<part name="parameters" element="tns:getQuestions"></part>
</message>
<message name="getQuestionsResponse">
<part name="parameters" element="tns:getQuestionsResponse"></part>
</message>
<message name="WSObjectNotFoundException">
<part xmlns:ns1="http://v73.api.keysurvey.com" name="fault" element="ns1:WSObjectNotFoundException"></part>
</message>
<message name="WSIllegalArgumentException">
<part xmlns:ns2="http://v73.api.keysurvey.com" name="fault" element="ns2:WSIllegalArgumentException"></part>
</message>
<message name="WSInternalServerException">
<part xmlns:ns3="http://v73.api.keysurvey.com" name="fault" element="ns3:WSInternalServerException"></part>
</message>
<message name="WSSecurityException">
<part xmlns:ns4="http://v73.api.keysurvey.com" name="fault" element="ns4:WSSecurityException"></part>
</message>
<message name="deleteQuestion">
<part name="parameters" element="tns:deleteQuestion"></part>
</message>
<message name="deleteQuestionResponse">
<part name="parameters" element="tns:deleteQuestionResponse"></part>
</message>
<message name="getAnswers">
<part name="parameters" element="tns:getAnswers"></part>
</message>
<message name="getAnswersResponse">
<part name="parameters" element="tns:getAnswersResponse"></part>
</message>
<message name="getQuestion">
<part name="parameters" element="tns:getQuestion"></part>
</message>
<message name="getQuestionResponse">
<part name="parameters" element="tns:getQuestionResponse"></part>
</message>
<message name="addAnswer">
<part name="parameters" element="tns:addAnswer"></part>
</message>
<message name="addAnswerResponse">
<part name="parameters" element="tns:addAnswerResponse"></part>
</message>
<message name="addQuestion">
<part name="parameters" element="tns:addQuestion"></part>
</message>
<message name="addQuestionResponse">
<part name="parameters" element="tns:addQuestionResponse"></part>
</message>
<message name="getAnswer">
<part name="parameters" element="tns:getAnswer"></part>
</message>
<message name="getAnswerResponse">
<part name="parameters" element="tns:getAnswerResponse"></part>
</message>
<message name="moveAnswer">
<part name="parameters" element="tns:moveAnswer"></part>
</message>
<message name="moveAnswerResponse">
<part name="parameters" element="tns:moveAnswerResponse"></part>
</message>
<message name="deleteAnswer">
<part name="parameters" element="tns:deleteAnswer"></part>
</message>
<message name="deleteAnswerResponse">
<part name="parameters" element="tns:deleteAnswerResponse"></part>
</message>
<message name="getFormPermissions">
<part name="parameters" element="tns:getFormPermissions"></part>
</message>
<message name="getFormPermissionsResponse">
<part name="parameters" element="tns:getFormPermissionsResponse"></part>
</message>
<message name="getFormTree">
<part name="parameters" element="tns:getFormTree"></part>
</message>
<message name="getFormTreeResponse">
<part name="parameters" element="tns:getFormTreeResponse"></part>
</message>
<message name="createCompleteForm">
<part name="parameters" element="tns:createCompleteForm"></part>
</message>
<message name="createCompleteFormResponse">
<part name="parameters" element="tns:createCompleteFormResponse"></part>
</message>
<message name="createForm">
<part name="parameters" element="tns:createForm"></part>
</message>
<message name="createFormResponse">
<part name="parameters" element="tns:createFormResponse"></part>
</message>
<message name="getForm">
<part name="parameters" element="tns:getForm"></part>
</message>
<message name="getFormResponse">
<part name="parameters" element="tns:getFormResponse"></part>
</message>
<message name="updateForm">
<part name="parameters" element="tns:updateForm"></part>
</message>
<message name="updateFormResponse">
<part name="parameters" element="tns:updateFormResponse"></part>
</message>
<message name="deleteForm">
<part name="parameters" element="tns:deleteForm"></part>
</message>
<message name="deleteFormResponse">
<part name="parameters" element="tns:deleteFormResponse"></part>
</message>
<message name="createCompleteQuestion">
<part name="parameters" element="tns:createCompleteQuestion"></part>
</message>
<message name="createCompleteQuestionResponse">
<part name="parameters" element="tns:createCompleteQuestionResponse"></part>
</message>
<message name="updateQuestion">
<part name="parameters" element="tns:updateQuestion"></part>
</message>
<message name="updateQuestionResponse">
<part name="parameters" element="tns:updateQuestionResponse"></part>
</message>
<message name="updateAnswer">
<part name="parameters" element="tns:updateAnswer"></part>
</message>
<message name="updateAnswerResponse">
<part name="parameters" element="tns:updateAnswerResponse"></part>
</message>
<message name="getSubmissionPolicy">
<part name="parameters" element="tns:getSubmissionPolicy"></part>
</message>
<message name="getSubmissionPolicyResponse">
<part name="parameters" element="tns:getSubmissionPolicyResponse"></part>
</message>
<message name="setSubmissionPolicy">
<part name="parameters" element="tns:setSubmissionPolicy"></part>
</message>
<message name="setSubmissionPolicyResponse">
<part name="parameters" element="tns:setSubmissionPolicyResponse"></part>
</message>
<message name="getFormNotes">
<part name="parameters" element="tns:getFormNotes"></part>
</message>
<message name="getFormNotesResponse">
<part name="parameters" element="tns:getFormNotesResponse"></part>
</message>
<message name="setFormNotes">
<part name="parameters" element="tns:setFormNotes"></part>
</message>
<message name="setFormNotesResponse">
<part name="parameters" element="tns:setFormNotesResponse"></part>
</message>
<message name="getFormDesign">
<part name="parameters" element="tns:getFormDesign"></part>
</message>
<message name="getFormDesignResponse">
<part name="parameters" element="tns:getFormDesignResponse"></part>
</message>
<message name="setFormDesign">
<part name="parameters" element="tns:setFormDesign"></part>
</message>
<message name="setFormDesignResponse">
<part name="parameters" element="tns:setFormDesignResponse"></part>
</message>
<message name="getQuestionSettings">
<part name="parameters" element="tns:getQuestionSettings"></part>
</message>
<message name="getQuestionSettingsResponse">
<part name="parameters" element="tns:getQuestionSettingsResponse"></part>
</message>
<message name="setQuestionSettings">
<part name="parameters" element="tns:setQuestionSettings"></part>
</message>
<message name="setQuestionSettingsResponse">
<part name="parameters" element="tns:setQuestionSettingsResponse"></part>
</message>
<message name="moveQuestion">
<part name="parameters" element="tns:moveQuestion"></part>
</message>
<message name="moveQuestionResponse">
<part name="parameters" element="tns:moveQuestionResponse"></part>
</message>
<message name="getQuestionPosition">
<part name="parameters" element="tns:getQuestionPosition"></part>
</message>
<message name="getQuestionPositionResponse">
<part name="parameters" element="tns:getQuestionPositionResponse"></part>
</message>
<message name="getAnswerPosition">
<part name="parameters" element="tns:getAnswerPosition"></part>
</message>
<message name="getAnswerPositionResponse">
<part name="parameters" element="tns:getAnswerPositionResponse"></part>
</message>
<message name="getAnswerByPosition">
<part name="parameters" element="tns:getAnswerByPosition"></part>
</message>
<message name="getAnswerByPositionResponse">
<part name="parameters" element="tns:getAnswerByPositionResponse"></part>
</message>
<message name="getQuestionByPosition">
<part name="parameters" element="tns:getQuestionByPosition"></part>
</message>
<message name="getQuestionByPositionResponse">
<part name="parameters" element="tns:getQuestionByPositionResponse"></part>
</message>
<message name="setFormLogic">
<part name="parameters" element="tns:setFormLogic"></part>
</message>
<message name="setFormLogicResponse">
<part name="parameters" element="tns:setFormLogicResponse"></part>
</message>
<message name="WSException">
<part xmlns:ns5="http://v73.api.keysurvey.com" name="fault" element="ns5:WSException"></part>
</message>
<message name="getFormLogic">
<part name="parameters" element="tns:getFormLogic"></part>
</message>
<message name="getFormLogicResponse">
<part name="parameters" element="tns:getFormLogicResponse"></part>
</message>
<message name="getQuestionLogic">
<part name="parameters" element="tns:getQuestionLogic"></part>
</message>
<message name="getQuestionLogicResponse">
<part name="parameters" element="tns:getQuestionLogicResponse"></part>
</message>
<message name="setQuestionLogic">
<part name="parameters" element="tns:setQuestionLogic"></part>
</message>
<message name="setQuestionLogicResponse">
<part name="parameters" element="tns:setQuestionLogicResponse"></part>
</message>
<message name="getForms">
<part name="parameters" element="tns:getForms"></part>
</message>
<message name="getFormsResponse">
<part name="parameters" element="tns:getFormsResponse"></part>
</message>
<portType name="FormDesignManagementService">
<operation name="getQuestions">
<input message="tns:getQuestions"></input>
<output message="tns:getQuestionsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteQuestion">
<input message="tns:deleteQuestion"></input>
<output message="tns:deleteQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getAnswers">
<input message="tns:getAnswers"></input>
<output message="tns:getAnswersResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestion">
<input message="tns:getQuestion"></input>
<output message="tns:getQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="addAnswer">
<input message="tns:addAnswer"></input>
<output message="tns:addAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="addQuestion">
<input message="tns:addQuestion"></input>
<output message="tns:addQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getAnswer">
<input message="tns:getAnswer"></input>
<output message="tns:getAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="moveAnswer">
<input message="tns:moveAnswer"></input>
<output message="tns:moveAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteAnswer">
<input message="tns:deleteAnswer"></input>
<output message="tns:deleteAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getFormPermissions">
<input message="tns:getFormPermissions"></input>
<output message="tns:getFormPermissionsResponse"></output>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getFormTree">
<input message="tns:getFormTree"></input>
<output message="tns:getFormTreeResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="createCompleteForm">
<input message="tns:createCompleteForm"></input>
<output message="tns:createCompleteFormResponse"></output>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="createForm">
<input message="tns:createForm"></input>
<output message="tns:createFormResponse"></output>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
</operation>
<operation name="getForm">
<input message="tns:getForm"></input>
<output message="tns:getFormResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="updateForm">
<input message="tns:updateForm"></input>
<output message="tns:updateFormResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteForm">
<input message="tns:deleteForm"></input>
<output message="tns:deleteFormResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="createCompleteQuestion">
<input message="tns:createCompleteQuestion"></input>
<output message="tns:createCompleteQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="updateQuestion">
<input message="tns:updateQuestion"></input>
<output message="tns:updateQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="updateAnswer">
<input message="tns:updateAnswer"></input>
<output message="tns:updateAnswerResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getSubmissionPolicy">
<input message="tns:getSubmissionPolicy"></input>
<output message="tns:getSubmissionPolicyResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setSubmissionPolicy">
<input message="tns:setSubmissionPolicy"></input>
<output message="tns:setSubmissionPolicyResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getFormNotes">
<input message="tns:getFormNotes"></input>
<output message="tns:getFormNotesResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setFormNotes">
<input message="tns:setFormNotes"></input>
<output message="tns:setFormNotesResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getFormDesign">
<input message="tns:getFormDesign"></input>
<output message="tns:getFormDesignResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setFormDesign">
<input message="tns:setFormDesign"></input>
<output message="tns:setFormDesignResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestionSettings">
<input message="tns:getQuestionSettings"></input>
<output message="tns:getQuestionSettingsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setQuestionSettings">
<input message="tns:setQuestionSettings"></input>
<output message="tns:setQuestionSettingsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="moveQuestion">
<input message="tns:moveQuestion"></input>
<output message="tns:moveQuestionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestionPosition">
<input message="tns:getQuestionPosition"></input>
<output message="tns:getQuestionPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getAnswerPosition">
<input message="tns:getAnswerPosition"></input>
<output message="tns:getAnswerPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getAnswerByPosition">
<input message="tns:getAnswerByPosition"></input>
<output message="tns:getAnswerByPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getQuestionByPosition">
<input message="tns:getQuestionByPosition"></input>
<output message="tns:getQuestionByPositionResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="setFormLogic">
<input message="tns:setFormLogic"></input>
<output message="tns:setFormLogicResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="getFormLogic">
<input message="tns:getFormLogic"></input>
<output message="tns:getFormLogicResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getQuestionLogic">
<input message="tns:getQuestionLogic"></input>
<output message="tns:getQuestionLogicResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="setQuestionLogic">
<input message="tns:setQuestionLogic"></input>
<output message="tns:setQuestionLogicResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="getForms">
<input message="tns:getForms"></input>
<output message="tns:getFormsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
</portType>
<binding name="FormDesignManagementServicePortBinding" type="tns:FormDesignManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getQuestions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="addQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="moveAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormPermissions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormTree">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createCompleteForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteForm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createCompleteQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getSubmissionPolicy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setSubmissionPolicy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormNotes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setFormNotes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormDesign">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setFormDesign">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setQuestionSettings">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="moveQuestion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswerPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswerByPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionByPosition">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setFormLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getQuestionLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="setQuestionLogic">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getForms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FormDesignManagement">
<port name="FormDesignManagementServicePort" binding="tns:FormDesignManagementServicePortBinding">
<soap:address location="http://www.keysurvey.com:80/Member/api/v73/form/design/FormDesignManagementService"></soap:address>
</port>
</service>
</definitions>
