WSDL/FormSettingsManagementService.7.3.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://settings.form.v73.api.keysurvey.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://settings.form.v73.api.keysurvey.com" name="FormSettingsManagement">
<types>
<xs:schema xmlns:tns="http://v73.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://v73.api.keysurvey.com">

<xs:element name="WSIllegalArgumentException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSInternalServerException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSObjectNotFoundException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSSecurityException" nillable="true" type="tns:WSFault"></xs:element>

<xs:complexType name="WSObject">
<xs:sequence>
<xs:element name="versionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFault">
<xs:sequence>
<xs:element name="error" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:tns="http://settings.form.v73.api.keysurvey.com" xmlns:ns1="http://v73.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://settings.form.v73.api.keysurvey.com">

<xs:import namespace="http://v73.api.keysurvey.com" schemaLocation="http://www.keysurvey.com:80/Member/api/v73/form/settings/FormSettingsManagementService?xsd=1"></xs:import>

<xs:element name="createAnswerPattern" type="tns:createAnswerPattern"></xs:element>

<xs:element name="createAnswerPatternResponse" type="tns:createAnswerPatternResponse"></xs:element>

<xs:element name="createRankGridPattern" type="tns:createRankGridPattern"></xs:element>

<xs:element name="createRankGridPatternResponse" type="tns:createRankGridPatternResponse"></xs:element>

<xs:element name="deleteAnswerPattern" type="tns:deleteAnswerPattern"></xs:element>

<xs:element name="deleteAnswerPatternResponse" type="tns:deleteAnswerPatternResponse"></xs:element>

<xs:element name="deleteRankGridPattern" type="tns:deleteRankGridPattern"></xs:element>

<xs:element name="deleteRankGridPatternResponse" type="tns:deleteRankGridPatternResponse"></xs:element>

<xs:element name="getAnswerPattern" type="tns:getAnswerPattern"></xs:element>

<xs:element name="getAnswerPatternResponse" type="tns:getAnswerPatternResponse"></xs:element>

<xs:element name="getAnswerPatterns" type="tns:getAnswerPatterns"></xs:element>

<xs:element name="getAnswerPatternsResponse" type="tns:getAnswerPatternsResponse"></xs:element>

<xs:element name="getRankGridPattern" type="tns:getRankGridPattern"></xs:element>

<xs:element name="getRankGridPatternResponse" type="tns:getRankGridPatternResponse"></xs:element>

<xs:element name="getRankGridPatterns" type="tns:getRankGridPatterns"></xs:element>

<xs:element name="getRankGridPatternsResponse" type="tns:getRankGridPatternsResponse"></xs:element>

<xs:element name="updateAnswerPattern" type="tns:updateAnswerPattern"></xs:element>

<xs:element name="updateAnswerPatternResponse" type="tns:updateAnswerPatternResponse"></xs:element>

<xs:element name="updateRankGridPattern" type="tns:updateRankGridPattern"></xs:element>

<xs:element name="updateRankGridPatternResponse" type="tns:updateRankGridPatternResponse"></xs:element>

<xs:complexType name="getRankGridPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankGridPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRankGridPattern" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSRankGridPattern">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="accountId" type="xs:long"></xs:element>
<xs:element name="columnValues" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="columns" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="rankGridId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createAnswerPattern">
<xs:sequence>
<xs:element name="answerPattern" type="tns:WSAnswerPattern" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSAnswerPattern">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="accountId" type="xs:long"></xs:element>
<xs:element name="alertText" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="format" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="maxValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="minValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pattern" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="patternId" type="xs:long"></xs:element>
<xs:element name="type" type="tns:wsAnswerPatternType"></xs:element>
<xs:element name="visibleWidth" type="xs:int"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createAnswerPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPattern">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAnswerPattern">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAnswerPatternResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPatternId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankGridPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRankGridPattern" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPatternId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRankGridPatternResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="updateAnswerPattern">
<xs:sequence>
<xs:element name="answerPattern" type="tns:WSAnswerPattern" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAnswerPatternResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="updateRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPattern" type="tns:WSRankGridPattern" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRankGridPatternResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPattern" type="tns:WSRankGridPattern" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createRankGridPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="wsAnswerPatternType">
<xs:restriction base="xs:string">
<xs:enumeration value="STRING"></xs:enumeration>
<xs:enumeration value="NUMERIC"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
</types>
<message name="createAnswerPattern">
<part name="parameters" element="tns:createAnswerPattern"></part>
</message>
<message name="createAnswerPatternResponse">
<part name="parameters" element="tns:createAnswerPatternResponse"></part>
</message>
<message name="WSObjectNotFoundException">
<part xmlns:ns1="http://v73.api.keysurvey.com" name="fault" element="ns1:WSObjectNotFoundException"></part>
</message>
<message name="WSIllegalArgumentException">
<part xmlns:ns2="http://v73.api.keysurvey.com" name="fault" element="ns2:WSIllegalArgumentException"></part>
</message>
<message name="WSSecurityException">
<part xmlns:ns3="http://v73.api.keysurvey.com" name="fault" element="ns3:WSSecurityException"></part>
</message>
<message name="WSInternalServerException">
<part xmlns:ns4="http://v73.api.keysurvey.com" name="fault" element="ns4:WSInternalServerException"></part>
</message>
<message name="updateAnswerPattern">
<part name="parameters" element="tns:updateAnswerPattern"></part>
</message>
<message name="updateAnswerPatternResponse">
<part name="parameters" element="tns:updateAnswerPatternResponse"></part>
</message>
<message name="deleteAnswerPattern">
<part name="parameters" element="tns:deleteAnswerPattern"></part>
</message>
<message name="deleteAnswerPatternResponse">
<part name="parameters" element="tns:deleteAnswerPatternResponse"></part>
</message>
<message name="getAnswerPatterns">
<part name="parameters" element="tns:getAnswerPatterns"></part>
</message>
<message name="getAnswerPatternsResponse">
<part name="parameters" element="tns:getAnswerPatternsResponse"></part>
</message>
<message name="getAnswerPattern">
<part name="parameters" element="tns:getAnswerPattern"></part>
</message>
<message name="getAnswerPatternResponse">
<part name="parameters" element="tns:getAnswerPatternResponse"></part>
</message>
<message name="getRankGridPatterns">
<part name="parameters" element="tns:getRankGridPatterns"></part>
</message>
<message name="getRankGridPatternsResponse">
<part name="parameters" element="tns:getRankGridPatternsResponse"></part>
</message>
<message name="createRankGridPattern">
<part name="parameters" element="tns:createRankGridPattern"></part>
</message>
<message name="createRankGridPatternResponse">
<part name="parameters" element="tns:createRankGridPatternResponse"></part>
</message>
<message name="deleteRankGridPattern">
<part name="parameters" element="tns:deleteRankGridPattern"></part>
</message>
<message name="deleteRankGridPatternResponse">
<part name="parameters" element="tns:deleteRankGridPatternResponse"></part>
</message>
<message name="updateRankGridPattern">
<part name="parameters" element="tns:updateRankGridPattern"></part>
</message>
<message name="updateRankGridPatternResponse">
<part name="parameters" element="tns:updateRankGridPatternResponse"></part>
</message>
<message name="getRankGridPattern">
<part name="parameters" element="tns:getRankGridPattern"></part>
</message>
<message name="getRankGridPatternResponse">
<part name="parameters" element="tns:getRankGridPatternResponse"></part>
</message>
<portType name="FormSettingsManagementService">
<operation name="createAnswerPattern">
<input message="tns:createAnswerPattern"></input>
<output message="tns:createAnswerPatternResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="updateAnswerPattern">
<input message="tns:updateAnswerPattern"></input>
<output message="tns:updateAnswerPatternResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="deleteAnswerPattern">
<input message="tns:deleteAnswerPattern"></input>
<output message="tns:deleteAnswerPatternResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getAnswerPatterns">
<input message="tns:getAnswerPatterns"></input>
<output message="tns:getAnswerPatternsResponse"></output>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getAnswerPattern">
<input message="tns:getAnswerPattern"></input>
<output message="tns:getAnswerPatternResponse"></output>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getRankGridPatterns">
<input message="tns:getRankGridPatterns"></input>
<output message="tns:getRankGridPatternsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="createRankGridPattern">
<input message="tns:createRankGridPattern"></input>
<output message="tns:createRankGridPatternResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="deleteRankGridPattern">
<input message="tns:deleteRankGridPattern"></input>
<output message="tns:deleteRankGridPatternResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="updateRankGridPattern">
<input message="tns:updateRankGridPattern"></input>
<output message="tns:updateRankGridPatternResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getRankGridPattern">
<input message="tns:getRankGridPattern"></input>
<output message="tns:getRankGridPatternResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
</portType>
<binding name="FormSettingsManagementServicePortBinding" type="tns:FormSettingsManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createAnswerPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAnswerPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAnswerPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswerPatterns">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAnswerPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRankGridPatterns">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createRankGridPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteRankGridPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateRankGridPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRankGridPattern">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FormSettingsManagement">
<port name="FormSettingsManagementServicePort" binding="tns:FormSettingsManagementServicePortBinding">
<soap:address location="http://www.keysurvey.com:80/Member/api/v73/form/settings/FormSettingsManagementService"></soap:address>
</port>
</service>
</definitions>