WSDL/FormSettingsManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://settings.form.v81.api.keysurvey.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://settings.form.v81.api.keysurvey.com" name="FormSettingsManagement">
<types>
<xs:schema xmlns:tns="http://v81.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://v81.api.keysurvey.com">

<xs:element name="WSIllegalArgumentException" nillable="true" type="tns:WSFault"/>

<xs:element name="WSInternalServerException" nillable="true" type="tns:WSFault"/>

<xs:element name="WSObjectNotFoundException" nillable="true" type="tns:WSFault"/>

<xs:element name="WSSecurityException" nillable="true" type="tns:WSFault"/>

<xs:complexType name="WSObject">
<xs:sequence>
<xs:element name="versionId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFault">
<xs:sequence>
<xs:element name="error" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="service" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:tns="http://settings.form.v81.api.keysurvey.com" xmlns:ns1="http://v81.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://settings.form.v81.api.keysurvey.com">

<xs:import namespace="http://v81.api.keysurvey.com" schemaLocation="http://www.keysurvey.com:80/Member/api/v81/form/settings/FormSettingsManagementService?xsd=1"/>

<xs:element name="createAnswerPattern" type="tns:createAnswerPattern"/>

<xs:element name="createAnswerPatternResponse" type="tns:createAnswerPatternResponse"/>

<xs:element name="createMatrixPattern" type="tns:createMatrixPattern"/>

<xs:element name="createMatrixPatternResponse" type="tns:createMatrixPatternResponse"/>

<xs:element name="createRankGridPattern" type="tns:createRankGridPattern"/>

<xs:element name="createRankGridPatternResponse" type="tns:createRankGridPatternResponse"/>

<xs:element name="deleteAnswerPattern" type="tns:deleteAnswerPattern"/>

<xs:element name="deleteAnswerPatternResponse" type="tns:deleteAnswerPatternResponse"/>

<xs:element name="deleteHeaderPattern" type="tns:deleteHeaderPattern"/>

<xs:element name="deleteHeaderPatternResponse" type="tns:deleteHeaderPatternResponse"/>

<xs:element name="getAnswerDefaultPatterns" type="tns:getAnswerDefaultPatterns"/>

<xs:element name="getAnswerDefaultPatternsResponse" type="tns:getAnswerDefaultPatternsResponse"/>

<xs:element name="getAnswerPattern" type="tns:getAnswerPattern"/>

<xs:element name="getAnswerPatternResponse" type="tns:getAnswerPatternResponse"/>

<xs:element name="getAnswerPatterns" type="tns:getAnswerPatterns"/>

<xs:element name="getAnswerPatternsResponse" type="tns:getAnswerPatternsResponse"/>

<xs:element name="getMatrixPattern" type="tns:getMatrixPattern"/>

<xs:element name="getMatrixPatternResponse" type="tns:getMatrixPatternResponse"/>

<xs:element name="getMatrixPatterns" type="tns:getMatrixPatterns"/>

<xs:element name="getMatrixPatternsResponse" type="tns:getMatrixPatternsResponse"/>

<xs:element name="getRankGridPattern" type="tns:getRankGridPattern"/>

<xs:element name="getRankGridPatternResponse" type="tns:getRankGridPatternResponse"/>

<xs:element name="getRankGridPatterns" type="tns:getRankGridPatterns"/>

<xs:element name="getRankGridPatternsResponse" type="tns:getRankGridPatternsResponse"/>

<xs:element name="updateAnswerPattern" type="tns:updateAnswerPattern"/>

<xs:element name="updateAnswerPatternResponse" type="tns:updateAnswerPatternResponse"/>

<xs:complexType name="createRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPattern" type="tns:WSRankGridPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSRankGridPattern">
<xs:complexContent>
<xs:extension base="tns:WSPattern">
<xs:sequence>
<xs:element name="columnValues" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="columns" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSPattern" abstract="true">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
<xs:element name="rankGridId" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createRankGridPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAnswerPattern">
<xs:sequence>
<xs:element name="answerPattern" type="tns:WSAnswerPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSAnswerPattern">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
<xs:element name="alertText" type="xs:string" minOccurs="0"/>
<xs:element name="decimalDivider" type="xs:string" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="format" type="xs:string" minOccurs="0"/>
<xs:element name="maxValue" type="xs:string" minOccurs="0"/>
<xs:element name="minValue" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="pattern" type="xs:string" minOccurs="0"/>
<xs:element name="patternId" type="xs:long"/>
<xs:element name="precision" type="xs:int"/>
<xs:element name="prefix" type="xs:string" minOccurs="0"/>
<xs:element name="suffix" type="xs:string" minOccurs="0"/>
<xs:element name="thousendDivider" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:wsAnswerPatternType"/>
<xs:element name="visibleWidth" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="updateAnswerPatternResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankGridPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRankGridPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAnswerPattern">
<xs:sequence>
<xs:element name="answerPattern" type="tns:WSAnswerPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAnswerPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSMatrixPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSMatrixPattern">
<xs:complexContent>
<xs:extension base="tns:WSPattern">
<xs:sequence>
<xs:element name="matrixColumns" type="tns:WSMatrixPatternColumn" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSMatrixPatternColumn">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="options" type="tns:WSMatrixPatternColumnOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="tns:type" minOccurs="0"/>
<xs:element name="value" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSMatrixPatternColumnOption">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMatrixPattern">
<xs:sequence>
<xs:element name="wsMatrixPattern" type="tns:WSMatrixPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMatrixPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPattern">
<xs:sequence>
<xs:element name="wsMatrixPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSMatrixPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerDefaultPatterns">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAnswerDefaultPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteHeaderPattern">
<xs:sequence>
<xs:element name="wsHeaderId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteHeaderPatternResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteAnswerPattern">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAnswerPatternResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRankGridPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankGridPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRankGridPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPattern">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="wsAnswerPatternType">
<xs:restriction base="xs:string">
<xs:enumeration value="STRING"/>
<xs:enumeration value="NUMERIC"/>
<xs:enumeration value="AMOUNT"/>
<xs:enumeration value="PERCENT"/>
<xs:enumeration value="EMAIL"/>
<xs:enumeration value="NUMBER_NATURAL"/>
<xs:enumeration value="DATE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="type">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="TEXT"/>
<xs:enumeration value="DROPDOWN"/>
<xs:enumeration value="CHECKBOX"/>
<xs:enumeration value="RADIO"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
</types>
<message name="createAnswerPattern">
<part name="parameters" element="tns:createAnswerPattern"/>
</message>
<message name="createAnswerPatternResponse">
<part name="parameters" element="tns:createAnswerPatternResponse"/>
</message>
<message name="WSObjectNotFoundException">
<part xmlns:ns1="http://v81.api.keysurvey.com" name="fault" element="ns1:WSObjectNotFoundException"/>
</message>
<message name="WSIllegalArgumentException">
<part xmlns:ns2="http://v81.api.keysurvey.com" name="fault" element="ns2:WSIllegalArgumentException"/>
</message>
<message name="WSSecurityException">
<part xmlns:ns3="http://v81.api.keysurvey.com" name="fault" element="ns3:WSSecurityException"/>
</message>
<message name="WSInternalServerException">
<part xmlns:ns4="http://v81.api.keysurvey.com" name="fault" element="ns4:WSInternalServerException"/>
</message>
<message name="updateAnswerPattern">
<part name="parameters" element="tns:updateAnswerPattern"/>
</message>
<message name="updateAnswerPatternResponse">
<part name="parameters" element="tns:updateAnswerPatternResponse"/>
</message>
<message name="deleteAnswerPattern">
<part name="parameters" element="tns:deleteAnswerPattern"/>
</message>
<message name="deleteAnswerPatternResponse">
<part name="parameters" element="tns:deleteAnswerPatternResponse"/>
</message>
<message name="getAnswerPatterns">
<part name="parameters" element="tns:getAnswerPatterns"/>
</message>
<message name="getAnswerPatternsResponse">
<part name="parameters" element="tns:getAnswerPatternsResponse"/>
</message>
<message name="getAnswerPattern">
<part name="parameters" element="tns:getAnswerPattern"/>
</message>
<message name="getAnswerPatternResponse">
<part name="parameters" element="tns:getAnswerPatternResponse"/>
</message>
<message name="getRankGridPatterns">
<part name="parameters" element="tns:getRankGridPatterns"/>
</message>
<message name="getRankGridPatternsResponse">
<part name="parameters" element="tns:getRankGridPatternsResponse"/>
</message>
<message name="createRankGridPattern">
<part name="parameters" element="tns:createRankGridPattern"/>
</message>
<message name="createRankGridPatternResponse">
<part name="parameters" element="tns:createRankGridPatternResponse"/>
</message>
<message name="getRankGridPattern">
<part name="parameters" element="tns:getRankGridPattern"/>
</message>
<message name="getRankGridPatternResponse">
<part name="parameters" element="tns:getRankGridPatternResponse"/>
</message>
<message name="getAnswerDefaultPatterns">
<part name="parameters" element="tns:getAnswerDefaultPatterns"/>
</message>
<message name="getAnswerDefaultPatternsResponse">
<part name="parameters" element="tns:getAnswerDefaultPatternsResponse"/>
</message>
<message name="getMatrixPatterns">
<part name="parameters" element="tns:getMatrixPatterns"/>
</message>
<message name="getMatrixPatternsResponse">
<part name="parameters" element="tns:getMatrixPatternsResponse"/>
</message>
<message name="createMatrixPattern">
<part name="parameters" element="tns:createMatrixPattern"/>
</message>
<message name="createMatrixPatternResponse">
<part name="parameters" element="tns:createMatrixPatternResponse"/>
</message>
<message name="deleteHeaderPattern">
<part name="parameters" element="tns:deleteHeaderPattern"/>
</message>
<message name="deleteHeaderPatternResponse">
<part name="parameters" element="tns:deleteHeaderPatternResponse"/>
</message>
<message name="getMatrixPattern">
<part name="parameters" element="tns:getMatrixPattern"/>
</message>
<message name="getMatrixPatternResponse">
<part name="parameters" element="tns:getMatrixPatternResponse"/>
</message>
<portType name="FormSettingsManagementService">
<operation name="createAnswerPattern">
<input message="tns:createAnswerPattern"/>
<output message="tns:createAnswerPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="updateAnswerPattern">
<input message="tns:updateAnswerPattern"/>
<output message="tns:updateAnswerPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="deleteAnswerPattern">
<input message="tns:deleteAnswerPattern"/>
<output message="tns:deleteAnswerPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
</operation>
<operation name="getAnswerPatterns">
<input message="tns:getAnswerPatterns"/>
<output message="tns:getAnswerPatternsResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getAnswerPattern">
<input message="tns:getAnswerPattern"/>
<output message="tns:getAnswerPatternResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getRankGridPatterns">
<input message="tns:getRankGridPatterns"/>
<output message="tns:getRankGridPatternsResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="createRankGridPattern">
<input message="tns:createRankGridPattern"/>
<output message="tns:createRankGridPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getRankGridPattern">
<input message="tns:getRankGridPattern"/>
<output message="tns:getRankGridPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getAnswerDefaultPatterns">
<input message="tns:getAnswerDefaultPatterns"/>
<output message="tns:getAnswerDefaultPatternsResponse"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getMatrixPatterns">
<input message="tns:getMatrixPatterns"/>
<output message="tns:getMatrixPatternsResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="createMatrixPattern">
<input message="tns:createMatrixPattern"/>
<output message="tns:createMatrixPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="deleteHeaderPattern">
<input message="tns:deleteHeaderPattern"/>
<output message="tns:deleteHeaderPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
<operation name="getMatrixPattern">
<input message="tns:getMatrixPattern"/>
<output message="tns:getMatrixPatternResponse"/>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"/>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"/>
<fault message="tns:WSSecurityException" name="WSSecurityException"/>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"/>
</operation>
</portType>
<binding name="FormSettingsManagementServicePortBinding" type="tns:FormSettingsManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createAnswerPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="updateAnswerPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="deleteAnswerPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
</operation>
<operation name="getAnswerPatterns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getAnswerPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getRankGridPatterns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="createRankGridPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getRankGridPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getAnswerDefaultPatterns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getMatrixPatterns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="createMatrixPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="deleteHeaderPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
<operation name="getMatrixPattern">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"/>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"/>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"/>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FormSettingsManagement">
<port name="FormSettingsManagementServicePort" binding="tns:FormSettingsManagementServicePortBinding">
<soap:address location="http://www.keysurvey.com:80/Member/api/v81/form/settings/FormSettingsManagementService"/>
</port>
</service>
</definitions>