WSDL/FormResultManagementService7.3.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://result.form.v73.api.keysurvey.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://result.form.v73.api.keysurvey.com" name="FormResultManagement">
<types>
<xs:schema xmlns:tns="http://v73.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://v73.api.keysurvey.com">

<xs:element name="WSIllegalArgumentException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSInternalServerException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSObjectNotFoundException" nillable="true" type="tns:WSFault"></xs:element>

<xs:element name="WSSecurityException" nillable="true" type="tns:WSFault"></xs:element>

<xs:complexType name="WSObject">
<xs:sequence>
<xs:element name="versionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFault">
<xs:sequence>
<xs:element name="error" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:tns="http://result.form.v73.api.keysurvey.com" xmlns:ns1="http://v73.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://result.form.v73.api.keysurvey.com">

<xs:import namespace="http://v73.api.keysurvey.com" schemaLocation="http://www.keysurvey.com:80/Member/api/v73/form/result/FormResultManagementService?xsd=1"></xs:import>

<xs:element name="deleteRespondent" type="tns:deleteRespondent"></xs:element>

<xs:element name="deleteRespondentResponse" type="tns:deleteRespondentResponse"></xs:element>

<xs:element name="deleteRespondents" type="tns:deleteRespondents"></xs:element>

<xs:element name="deleteRespondentsByActivityDate" type="tns:deleteRespondentsByActivityDate"></xs:element>

<xs:element name="deleteRespondentsByActivityDateResponse" type="tns:deleteRespondentsByActivityDateResponse"></xs:element>

<xs:element name="deleteRespondentsByEmail" type="tns:deleteRespondentsByEmail"></xs:element>

<xs:element name="deleteRespondentsByEmailResponse" type="tns:deleteRespondentsByEmailResponse"></xs:element>

<xs:element name="deleteRespondentsByLaunchDate" type="tns:deleteRespondentsByLaunchDate"></xs:element>

<xs:element name="deleteRespondentsByLaunchDateResponse" type="tns:deleteRespondentsByLaunchDateResponse"></xs:element>

<xs:element name="deleteRespondentsResponse" type="tns:deleteRespondentsResponse"></xs:element>

<xs:element name="getFormStatistics" type="tns:getFormStatistics"></xs:element>

<xs:element name="getFormStatisticsResponse" type="tns:getFormStatisticsResponse"></xs:element>

<xs:element name="getRespondent" type="tns:getRespondent"></xs:element>

<xs:element name="getRespondentResponse" type="tns:getRespondentResponse"></xs:element>

<xs:element name="getRespondents" type="tns:getRespondents"></xs:element>

<xs:element name="getRespondentsByCriteria" type="tns:getRespondentsByCriteria"></xs:element>

<xs:element name="getRespondentsByCriteriaResponse" type="tns:getRespondentsByCriteriaResponse"></xs:element>

<xs:element name="getRespondentsByCriteriaWithIncompletes" type="tns:getRespondentsByCriteriaWithIncompletes"></xs:element>

<xs:element name="getRespondentsByCriteriaWithIncompletesResponse" type="tns:getRespondentsByCriteriaWithIncompletesResponse"></xs:element>

<xs:element name="getRespondentsComplete" type="tns:getRespondentsComplete"></xs:element>

<xs:element name="getRespondentsCompleteResponse" type="tns:getRespondentsCompleteResponse"></xs:element>

<xs:element name="getRespondentsPartial" type="tns:getRespondentsPartial"></xs:element>

<xs:element name="getRespondentsPartialResponse" type="tns:getRespondentsPartialResponse"></xs:element>

<xs:element name="getRespondentsResponse" type="tns:getRespondentsResponse"></xs:element>

<xs:element name="getResponse" type="tns:getResponse"></xs:element>

<xs:element name="getResponseResponse" type="tns:getResponseResponse"></xs:element>

<xs:element name="getResponses" type="tns:getResponses"></xs:element>

<xs:element name="getResponsesResponse" type="tns:getResponsesResponse"></xs:element>

<xs:complexType name="getResponses">
<xs:sequence>
<xs:element name="respondentId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponsesResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSQuestionResponse" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSQuestionResponse">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="answerResponses" type="tns:WSAnswerResponse" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
<xs:element name="respondentId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSAnswerResponse">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="answerId" type="xs:long"></xs:element>
<xs:element name="respondentId" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSAnswerTextResponse">
<xs:complexContent>
<xs:extension base="tns:WSAnswerResponse">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSAnswerPickResponse">
<xs:complexContent>
<xs:extension base="tns:WSAnswerResponse">
<xs:sequence>
<xs:element name="value" type="xs:long"></xs:element>
<xs:element name="weight" type="xs:double"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getRespondents">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRespondent" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSRespondent">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="anonym" type="xs:boolean"></xs:element>
<xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="deleted" type="xs:boolean"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="ipAddress" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="launchDate" type="xs:dateTime"></xs:element>
<xs:element name="reportLink" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="respondentId" type="xs:long"></xs:element>
<xs:element name="resubmit" type="xs:boolean"></xs:element>
<xs:element name="score" type="xs:double"></xs:element>
<xs:element name="status" type="tns:WSRespondentStatus" minOccurs="0"></xs:element>
<xs:element name="submitDate" type="xs:dateTime"></xs:element>
<xs:element name="submitStartDate" type="xs:dateTime"></xs:element>
<xs:element name="test" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getRespondent">
<xs:sequence>
<xs:element name="respondentId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRespondent" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondents">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentsResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsPartial">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsPartialResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRespondent" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsByCriteriaWithIncompletes">
<xs:sequence>
<xs:element name="surveyId" type="xs:long"></xs:element>
<xs:element name="criteria" type="tns:WSCriteriaNode" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSCriteriaNode" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="WSCriteriaLogic">
<xs:complexContent>
<xs:extension base="tns:WSCriteriaNode">
<xs:sequence>
<xs:element name="subNodes" type="tns:WSCriteriaNode" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="type" type="tns:type" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSCriteriaCondition">
<xs:complexContent>
<xs:extension base="tns:WSCriteriaNode">
<xs:sequence>
<xs:element name="tag" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSCriteriaDate">
<xs:complexContent>
<xs:extension base="tns:WSCriteriaNode">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="getRespondentsByCriteriaWithIncompletesResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRespondent" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentsByLaunchDate">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="respondentStatus" type="tns:WSRespondentStatus" minOccurs="0"></xs:element>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentsByLaunchDateResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentsByActivityDate">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="respondentStatus" type="tns:WSRespondentStatus" minOccurs="0"></xs:element>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentsByActivityDateResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsByCriteria">
<xs:sequence>
<xs:element name="surveyId" type="xs:long"></xs:element>
<xs:element name="criteria" type="tns:WSCriteriaNode" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsByCriteriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRespondent" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="respondentId" type="xs:long"></xs:element>
<xs:element name="questionId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponseResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSQuestionResponse" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondent">
<xs:sequence>
<xs:element name="arg0" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentsByEmail">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="respondentStatus" type="tns:WSRespondentStatus" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteRespondentsByEmailResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsComplete">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRespondentsCompleteResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRespondent" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormStatistics">
<xs:sequence>
<xs:element name="formId" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFormStatisticsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSFormStatistics" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSFormStatistics">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="abandonedMail" type="xs:long"></xs:element>
<xs:element name="completeCount" type="xs:long"></xs:element>
<xs:element name="completeMail" type="xs:long"></xs:element>
<xs:element name="formId" type="xs:long"></xs:element>
<xs:element name="incompleteCount" type="xs:long"></xs:element>
<xs:element name="incompleteMail" type="xs:long"></xs:element>
<xs:element name="respondentCount" type="xs:long"></xs:element>
<xs:element name="viewCount" type="xs:long"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:simpleType name="WSRespondentStatus">
<xs:restriction base="xs:string">
<xs:enumeration value="INCOMPLETE"></xs:enumeration>
<xs:enumeration value="COMPLETE"></xs:enumeration>
<xs:enumeration value="COMPLETE_MAIL"></xs:enumeration>
<xs:enumeration value="ABANDONE_MAIL"></xs:enumeration>
<xs:enumeration value="NOT_STARTED"></xs:enumeration>
<xs:enumeration value="ALL"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="type">
<xs:restriction base="xs:string">
<xs:enumeration value="AND"></xs:enumeration>
<xs:enumeration value="OR"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>
</types>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"></part>
</message>
<message name="getResponseResponse">
<part name="parameters" element="tns:getResponseResponse"></part>
</message>
<message name="WSObjectNotFoundException">
<part xmlns:ns1="http://v73.api.keysurvey.com" name="fault" element="ns1:WSObjectNotFoundException"></part>
</message>
<message name="WSInternalServerException">
<part xmlns:ns2="http://v73.api.keysurvey.com" name="fault" element="ns2:WSInternalServerException"></part>
</message>
<message name="WSIllegalArgumentException">
<part xmlns:ns3="http://v73.api.keysurvey.com" name="fault" element="ns3:WSIllegalArgumentException"></part>
</message>
<message name="WSSecurityException">
<part xmlns:ns4="http://v73.api.keysurvey.com" name="fault" element="ns4:WSSecurityException"></part>
</message>
<message name="getRespondent">
<part name="parameters" element="tns:getRespondent"></part>
</message>
<message name="getRespondentResponse">
<part name="parameters" element="tns:getRespondentResponse"></part>
</message>
<message name="getRespondents">
<part name="parameters" element="tns:getRespondents"></part>
</message>
<message name="getRespondentsResponse">
<part name="parameters" element="tns:getRespondentsResponse"></part>
</message>
<message name="deleteRespondents">
<part name="parameters" element="tns:deleteRespondents"></part>
</message>
<message name="deleteRespondentsResponse">
<part name="parameters" element="tns:deleteRespondentsResponse"></part>
</message>
<message name="getRespondentsByCriteria">
<part name="parameters" element="tns:getRespondentsByCriteria"></part>
</message>
<message name="getRespondentsByCriteriaResponse">
<part name="parameters" element="tns:getRespondentsByCriteriaResponse"></part>
</message>
<message name="getRespondentsByCriteriaWithIncompletes">
<part name="parameters" element="tns:getRespondentsByCriteriaWithIncompletes"></part>
</message>
<message name="getRespondentsByCriteriaWithIncompletesResponse">
<part name="parameters" element="tns:getRespondentsByCriteriaWithIncompletesResponse"></part>
</message>
<message name="getRespondentsComplete">
<part name="parameters" element="tns:getRespondentsComplete"></part>
</message>
<message name="getRespondentsCompleteResponse">
<part name="parameters" element="tns:getRespondentsCompleteResponse"></part>
</message>
<message name="getRespondentsPartial">
<part name="parameters" element="tns:getRespondentsPartial"></part>
</message>
<message name="getRespondentsPartialResponse">
<part name="parameters" element="tns:getRespondentsPartialResponse"></part>
</message>
<message name="getResponses">
<part name="parameters" element="tns:getResponses"></part>
</message>
<message name="getResponsesResponse">
<part name="parameters" element="tns:getResponsesResponse"></part>
</message>
<message name="getFormStatistics">
<part name="parameters" element="tns:getFormStatistics"></part>
</message>
<message name="getFormStatisticsResponse">
<part name="parameters" element="tns:getFormStatisticsResponse"></part>
</message>
<message name="deleteRespondent">
<part name="parameters" element="tns:deleteRespondent"></part>
</message>
<message name="deleteRespondentResponse">
<part name="parameters" element="tns:deleteRespondentResponse"></part>
</message>
<message name="deleteRespondentsByLaunchDate">
<part name="parameters" element="tns:deleteRespondentsByLaunchDate"></part>
</message>
<message name="deleteRespondentsByLaunchDateResponse">
<part name="parameters" element="tns:deleteRespondentsByLaunchDateResponse"></part>
</message>
<message name="deleteRespondentsByActivityDate">
<part name="parameters" element="tns:deleteRespondentsByActivityDate"></part>
</message>
<message name="deleteRespondentsByActivityDateResponse">
<part name="parameters" element="tns:deleteRespondentsByActivityDateResponse"></part>
</message>
<message name="deleteRespondentsByEmail">
<part name="parameters" element="tns:deleteRespondentsByEmail"></part>
</message>
<message name="deleteRespondentsByEmailResponse">
<part name="parameters" element="tns:deleteRespondentsByEmailResponse"></part>
</message>
<portType name="FormResultManagementService">
<operation name="getResponse">
<input message="tns:getResponse"></input>
<output message="tns:getResponseResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getRespondent">
<input message="tns:getRespondent"></input>
<output message="tns:getRespondentResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getRespondents">
<input message="tns:getRespondents"></input>
<output message="tns:getRespondentsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteRespondents">
<input message="tns:deleteRespondents"></input>
<output message="tns:deleteRespondentsResponse"></output>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="getRespondentsByCriteria">
<input message="tns:getRespondentsByCriteria"></input>
<output message="tns:getRespondentsByCriteriaResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getRespondentsByCriteriaWithIncompletes">
<input message="tns:getRespondentsByCriteriaWithIncompletes"></input>
<output message="tns:getRespondentsByCriteriaWithIncompletesResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getRespondentsComplete">
<input message="tns:getRespondentsComplete"></input>
<output message="tns:getRespondentsCompleteResponse"></output>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
</operation>
<operation name="getRespondentsPartial">
<input message="tns:getRespondentsPartial"></input>
<output message="tns:getRespondentsPartialResponse"></output>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
</operation>
<operation name="getResponses">
<input message="tns:getResponses"></input>
<output message="tns:getResponsesResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
</operation>
<operation name="getFormStatistics">
<input message="tns:getFormStatistics"></input>
<output message="tns:getFormStatisticsResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
</operation>
<operation name="deleteRespondent">
<input message="tns:deleteRespondent"></input>
<output message="tns:deleteRespondentResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
</operation>
<operation name="deleteRespondentsByLaunchDate">
<input message="tns:deleteRespondentsByLaunchDate"></input>
<output message="tns:deleteRespondentsByLaunchDateResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
</operation>
<operation name="deleteRespondentsByActivityDate">
<input message="tns:deleteRespondentsByActivityDate"></input>
<output message="tns:deleteRespondentsByActivityDateResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
</operation>
<operation name="deleteRespondentsByEmail">
<input message="tns:deleteRespondentsByEmail"></input>
<output message="tns:deleteRespondentsByEmailResponse"></output>
<fault message="tns:WSObjectNotFoundException" name="WSObjectNotFoundException"></fault>
<fault message="tns:WSInternalServerException" name="WSInternalServerException"></fault>
<fault message="tns:WSSecurityException" name="WSSecurityException"></fault>
<fault message="tns:WSIllegalArgumentException" name="WSIllegalArgumentException"></fault>
</operation>
</portType>
<binding name="FormResultManagementServicePortBinding" type="tns:FormResultManagementService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getResponse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRespondent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRespondents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteRespondents">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRespondentsByCriteria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRespondentsByCriteriaWithIncompletes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRespondentsComplete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getRespondentsPartial">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getResponses">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getFormStatistics">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteRespondent">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteRespondentsByLaunchDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteRespondentsByActivityDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteRespondentsByEmail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSObjectNotFoundException">
<soap:fault name="WSObjectNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="WSInternalServerException">
<soap:fault name="WSInternalServerException" use="literal"></soap:fault>
</fault>
<fault name="WSSecurityException">
<soap:fault name="WSSecurityException" use="literal"></soap:fault>
</fault>
<fault name="WSIllegalArgumentException">
<soap:fault name="WSIllegalArgumentException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FormResultManagement">
<port name="FormResultManagementServicePort" binding="tns:FormResultManagementServicePortBinding">
<soap:address location="http://www.keysurvey.com:80/Member/api/v73/form/result/FormResultManagementService"></soap:address>
</port>
</service>
</definitions>