WSDL/FormSettingsManagementService.2.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<xs:schema xmlns:tns="http://settings.form.v81.api.keysurvey.com" xmlns:ns1="http://v81.api.keysurvey.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://settings.form.v81.api.keysurvey.com">

<xs:import namespace="http://v81.api.keysurvey.com" schemaLocation="http://www.keysurvey.com:80/Member/api/v81/form/settings/FormSettingsManagementService?xsd=1"/>

<xs:element name="createAnswerPattern" type="tns:createAnswerPattern"/>

<xs:element name="createAnswerPatternResponse" type="tns:createAnswerPatternResponse"/>

<xs:element name="createMatrixPattern" type="tns:createMatrixPattern"/>

<xs:element name="createMatrixPatternResponse" type="tns:createMatrixPatternResponse"/>

<xs:element name="createRankGridPattern" type="tns:createRankGridPattern"/>

<xs:element name="createRankGridPatternResponse" type="tns:createRankGridPatternResponse"/>

<xs:element name="deleteAnswerPattern" type="tns:deleteAnswerPattern"/>

<xs:element name="deleteAnswerPatternResponse" type="tns:deleteAnswerPatternResponse"/>

<xs:element name="deleteHeaderPattern" type="tns:deleteHeaderPattern"/>

<xs:element name="deleteHeaderPatternResponse" type="tns:deleteHeaderPatternResponse"/>

<xs:element name="getAnswerDefaultPatterns" type="tns:getAnswerDefaultPatterns"/>

<xs:element name="getAnswerDefaultPatternsResponse" type="tns:getAnswerDefaultPatternsResponse"/>

<xs:element name="getAnswerPattern" type="tns:getAnswerPattern"/>

<xs:element name="getAnswerPatternResponse" type="tns:getAnswerPatternResponse"/>

<xs:element name="getAnswerPatterns" type="tns:getAnswerPatterns"/>

<xs:element name="getAnswerPatternsResponse" type="tns:getAnswerPatternsResponse"/>

<xs:element name="getMatrixPattern" type="tns:getMatrixPattern"/>

<xs:element name="getMatrixPatternResponse" type="tns:getMatrixPatternResponse"/>

<xs:element name="getMatrixPatterns" type="tns:getMatrixPatterns"/>

<xs:element name="getMatrixPatternsResponse" type="tns:getMatrixPatternsResponse"/>

<xs:element name="getRankGridPattern" type="tns:getRankGridPattern"/>

<xs:element name="getRankGridPatternResponse" type="tns:getRankGridPatternResponse"/>

<xs:element name="getRankGridPatterns" type="tns:getRankGridPatterns"/>

<xs:element name="getRankGridPatternsResponse" type="tns:getRankGridPatternsResponse"/>

<xs:element name="updateAnswerPattern" type="tns:updateAnswerPattern"/>

<xs:element name="updateAnswerPatternResponse" type="tns:updateAnswerPatternResponse"/>

<xs:complexType name="createRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPattern" type="tns:WSRankGridPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSRankGridPattern">
<xs:complexContent>
<xs:extension base="tns:WSPattern">
<xs:sequence>
<xs:element name="columnValues" type="xs:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="columns" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSPattern" abstract="true">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
<xs:element name="rankGridId" type="xs:long"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createRankGridPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAnswerPattern">
<xs:sequence>
<xs:element name="answerPattern" type="tns:WSAnswerPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSAnswerPattern">
<xs:complexContent>
<xs:extension base="ns1:WSObject">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
<xs:element name="alertText" type="xs:string" minOccurs="0"/>
<xs:element name="decimalDivider" type="xs:string" minOccurs="0"/>
<xs:element name="deleted" type="xs:boolean"/>
<xs:element name="format" type="xs:string" minOccurs="0"/>
<xs:element name="maxValue" type="xs:string" minOccurs="0"/>
<xs:element name="minValue" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="pattern" type="xs:string" minOccurs="0"/>
<xs:element name="patternId" type="xs:long"/>
<xs:element name="precision" type="xs:int"/>
<xs:element name="prefix" type="xs:string" minOccurs="0"/>
<xs:element name="suffix" type="xs:string" minOccurs="0"/>
<xs:element name="thousendDivider" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:wsAnswerPatternType"/>
<xs:element name="visibleWidth" type="xs:int"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="updateAnswerPatternResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRankGridPattern">
<xs:sequence>
<xs:element name="rankGridPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankGridPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRankGridPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAnswerPattern">
<xs:sequence>
<xs:element name="answerPattern" type="tns:WSAnswerPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAnswerPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSMatrixPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSMatrixPattern">
<xs:complexContent>
<xs:extension base="tns:WSPattern">
<xs:sequence>
<xs:element name="matrixColumns" type="tns:WSMatrixPatternColumn" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="WSMatrixPatternColumn">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="options" type="tns:WSMatrixPatternColumnOption" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="tns:type" minOccurs="0"/>
<xs:element name="value" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="WSMatrixPatternColumnOption">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMatrixPattern">
<xs:sequence>
<xs:element name="wsMatrixPattern" type="tns:WSMatrixPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMatrixPatternResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPattern">
<xs:sequence>
<xs:element name="wsMatrixPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMatrixPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSMatrixPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerDefaultPatterns">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAnswerDefaultPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteHeaderPattern">
<xs:sequence>
<xs:element name="wsHeaderId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteHeaderPatternResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteAnswerPattern">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAnswerPatternResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRankGridPatterns">
<xs:sequence>
<xs:element name="accountId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRankGridPatternsResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSRankGridPattern" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPattern">
<xs:sequence>
<xs:element name="answerPatternId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAnswerPatternResponse">
<xs:sequence>
<xs:element name="return" type="tns:WSAnswerPattern" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="wsAnswerPatternType">
<xs:restriction base="xs:string">
<xs:enumeration value="STRING"/>
<xs:enumeration value="NUMERIC"/>
<xs:enumeration value="AMOUNT"/>
<xs:enumeration value="PERCENT"/>
<xs:enumeration value="EMAIL"/>
<xs:enumeration value="NUMBER_NATURAL"/>
<xs:enumeration value="DATE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="type">
<xs:restriction base="xs:string">
<xs:enumeration value="UNKNOWN"/>
<xs:enumeration value="TEXT"/>
<xs:enumeration value="DROPDOWN"/>
<xs:enumeration value="CHECKBOX"/>
<xs:enumeration value="RADIO"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>